html{
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
}

::-webkit-scrollbar{
    width:0;
    background:transparent;
}

body {
    margin:0;
    padding:0;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.middle{
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}

h1{
    color:#d7842c;
}

h3{
    margin:0;
    color:#d7842c;
}

.commentcomments{
    float:right;
    padding:12px;
    font-size: 20px;
    color: #a6a6a6;
}

.commentpost{
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    border: #d9d9d9 solid 4px;
    background-color: white;
    border-radius: 20px;
    height: auto;
}

.actualComments{
    border-top: 1px solid #d9d9d9;
    margin:0;
    padding: 10px;
    clear:left;
}

.comment{
    width:100%;
    display:inline-block;
}

.commentUser{
    text-decoration: none;
    font-size: 24px;
    box-sizing: border-box;
    color: #4d4d4d;
}

.commentPPic{
    float:left;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.commentPPicFrame{
    float:left;
    border: solid 2px #d7842c;
    margin-top:4px;
    margin-bottom:4px;
    border-radius: 50%;
    width:60px;
    height:60px;
    margin-right: 10px;
}

.commentBody{
    float:left;
    width: 50%;
    background-color: white;
    height: auto;
}

textarea{
    font-family: Arial,sans-serif;
    width: 100%;
    font-size: 18px;
    border: none;
    resize:none;
    min-height: 10px;
    overflow-y: auto;
    word-wrap: break-word;
}

textarea.commentText{
    border-radius: 10px;
    padding: 8px 0 8px 8px;
    color:black;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 0;
    background-color: #ebebeb;
    box-sizing: border-box;
}

.commentDate{
    text-align: right;
    color: #a6a6a6;
    font-size: 14px;
    float: right;
}

.commentOptions{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 20px;
    float: right;
    height: 30px;
    display: inline-block;
    position: relative;
}

.commentOptions-content {
    display: none;
    left:0;
    top:100%;
    position: absolute;
    background-color: #f1f1f1;
    width:180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    box-sizing: border-box;
}

.commentOptions-content a {
    color: black;
    padding: 12px 16px;
    box-sizing: border-box;
    width:100%;
    text-align: center;
    text-decoration: none;
    display: block;
}

.commentOptions-content a:hover {
    background-color: #ddd;
    color: #d7842c;
}

.commentOptions:hover .commentOptions-content {display: block;}

.commentLikeBar{
    text-decoration: none;
    height: 50px;
}

.commentLikeButton{
    margin:0;
    padding: 4px;
    float: left;
    height:30px;
    width:30px;
    cursor: pointer;
    position:relative;
}

.commentLikeNumber{
    padding:8px;
    float:left;
    font-size: 18px;
    color: #a6a6a6;
}

img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.commentImage{
    margin-top: 6px;
    padding: 0;
    object-fit: contain;
}

.writeComArea{
    width:100%;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 10px;
}


textarea.writeCom{
    background-color: #ebebeb;
    width:91.2%;
    border: none;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}

.commentPostButton{
    background-color: #bd6b15;
    border: none;
    color: #ffd07d;
    margin-top: 4px;
    height:80%;
    width:15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor:pointer;
    float:right;
}

.commentPostButton:hover{
    background-color: #d7842c;
    color: white;
}

.hiddenimg1{
    position: absolute;
    top:0;
    padding: 0;
    height:100%;
    width:100%;
    background-color: transparent;
    content: "";
    color:transparent;
    cursor:pointer;
}

.uploadimg{
    float: left;
    margin-left: 70px;
    margin-top: 4px;
    height:40px;
    width:40px;
    position:relative;
    background-color:transparent;
}

.uploadimgbutton{
    margin:0;
    cursor:pointer;
    object-fit: contain;
}

::-webkit-file-upload-button{
    display: none;
}
