html{
    background-image: url("ProfileAndPostPics/Regular_Balu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.bgbox{
    left: 15%;
    margin: auto;
    width:70%;
    height: 100vh;
    background-color: rgba(255,255,255,0.9);
    position:fixed;
    background-repeat: no-repeat;
}

.header{
    text-align: center;
}

body {
    margin: 0;
}

h3{
    font-size: 2.8vw;
    margin-top: 0;
}

h4{
    font-size: 2vw;
    margin-top: 0;
}
.middle {
    position: relative;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width:100%;
    margin: auto;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size:  1.6vw;
    color: #bd6b15;
    box-sizing: border-box;
}

.slighttext{
    color: #a6a6a6;
}

.smoltext{
    color: #a6a6a6;
    font-size: small;
}

button{
    background-color: #bd6b15;
    border: none;
    color: #ffd07d;
    padding: 1.5vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4vw;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor:pointer;
}
button:hover{
    background-color: #d7842c;
    color: white;
}

.error {
    font-size: large;
    background: #F2DEDE;
    color: red;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}