html{
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
}

::-webkit-scrollbar{
    width:0;
    background:transparent;
}

body {
    margin:0;
    padding:0;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.middle{
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}
.noFriendsText{
    padding-top: 150px;
    font-size: 30px;
    color: #4d4d4d;
    text-align: center;
}

.endOfFeed{
    font-size: 24px;
    color: #a6a6a6;
    text-align: center;
    padding-bottom: 50px;
}

h1{
    color:#d7842c;
}

h3{
    margin:0;
    color:#d7842c;
}